.todo {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
}

/* 한 줄 */
.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

/* 체크박스 박스 */
.todo-box {
  width: 25px;
  height: 25px;
  background: #ffffff;
  border: 2px solid #9de8ff;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  flex-shrink: 0;
  font-size: 20px;
}

/* 체크된 상태 */
.todo-box.checked {
  background: #9de8ff;
  color: #000;
}

/* 텍스트 */
.todo-text {
  flex: 1;
  margin: 0 15px;
  font-size: 16px;
  min-height: 20px;
}

/* 수정 input */
.todo-input {
  flex: 1;
  margin: 0 15px;
  font-size: 16px;

  border: none;
  outline: none;

  background: #ffffff;
  border-radius: 5px;
  padding: 5px 10px;
}

/* 완료 상태 */
.todo-text.done {
  text-decoration: line-through;
  color: #999;
}

/* 삭제 버튼 */
.todo-delete {
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  font-size: 18px;
}

.todo-delete:hover {
  background: #ffe5e5;
  border-radius: 8px;
}

/* 추가 버튼 */
.todo-add {
  height: 40px;
  background: #9de8ff;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  cursor: pointer;
}
