.todo_main,
.todo_main * {
  box-sizing: border-box;
}
.todo_main {
  background: #ffffff;
  min-height: 85vh;
  position: relative;
}

/* 조회 날짜 */
.view_date {
  background: #ffffff;
  border-bottom: 2px solid #9de8ff;
  width: 85%;
  height: 60px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* 날짜 */
.date {
  font-size: 1.5rem; /* 24px */
  font-weight: 600;
}

/* 이전 버튼 */
.prev {
  position: absolute;
  left: calc(50% - 80px);
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

/* 다음 버튼 */
.next {
  position: absolute;
  left: calc(50% + 60px);
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}
.next.disabled {
  color: #ccc;
  cursor: default;
}

.schedule,
.schedule * {
  box-sizing: border-box;
}
.schedule {
  background: #ffffff;
  position: relative;
}

.todolist,
.todolist * {
  box-sizing: border-box;
}
.todolist {
  height: 690px;
  position: relative;
  overflow: visible;
}
