.header,
.header * {
  box-sizing: border-box;
}

/* 헤더 */
.header {
  background: #9de8ff;
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* 현재 화면 */
.now_view {
  font-size: 1.5rem; /* 24px */
  font-weight: 600;
  text-decoration: none;
  color: inherit;
}

/* 메뉴 */
.menu {
  position: absolute;
  right: 100px;
  text-decoration: none;
  color: inherit;
}

.nav_link {
  text-decoration: none;
  color: inherit;
}
